body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    border: none;
    display: flex;
    height: 100px;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}


.logo{
    display: flex;
    padding-left: 200px;
    font-size: 24px;
    margin-right: 100px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 48px;
    padding-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.signup {
    display: flex;
    height: 400px;
    background-color: #1F2937;
    display: flex;
    padding-left: 200px;
    color: #F9FAF8;
    flex-direction: column;
    justify-content: center;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 900px;
    height: 50px;
    width: 300px;
}


.subtext {
    height: 50px;
    font-size: 14px;
    width: 400px;
}

.signup_button {
    width: 100px;
}
