body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    border: none;
    display: flex;
    height: 100px;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    
}


.logo{
    display: flex;
    padding-left: 200px;
    font-size: 24px;
    margin-right: 100px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 48px;
    padding-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.signup {
    display: flex;
    height: 400px;
    background-color: #1F2937;
    display: flex;
    padding-left: 200px;
    color: #F9FAF8;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}


.right {
    display: flex;
    justify-content: flex-end;
}

.placeholder {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    align-self: center;
}

.placeholder img {
    width: 100%;
    height: 100%;
}

.title {
    font-weight: bold;
    height: 50px;
    width: 300px;
}


.subtext {
    height: 50px;
    font-size: 14px;
    width: 400px;
}

.signup_button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: none;
    padding: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    border-radius: 5px;
}

.random_section {
    display: flex;
    height: 400px;
    padding-top: 19px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #F9FAF8;
}

.random_images {
    display: flex;
    width: 800px;
    gap: 50px; 
    height: 200px;
    justify-content: center;
}


.random_images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}

.quote_section {
    display: flex;
    height: 400px;
    padding-top: 40px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   

.quote {
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    font-weight: 900;
    align-self: flex-end;
    margin-right: 300px;
    font-size: 36px;
}

.call_to_action_section {
    display: flex;
    height: 400px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.blue_box {
    display: flex;
    width: 80%;
    background-color: #3882F6;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.blue_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #3882F6;
    color: white;
    border: none;
    outline: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5%;
    margin-left: 400px;
    font-weight: 900;
    font-size: 20px;
}

.blue_box_text {
    color: #E5E7EB;
}

.blue_box_text h1 {
    font-weight: 900;
    margin-bottom: -15px;
}

.blue_box_text h4 {
    font-weight: 100;
}

.copyright_section {
    display: flex;
    background-color:#1F2937;
    height: 125px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}